.about {
  width: 100%;
  min-height: 663px;
  padding: 139px 0px 123px 0px;
}

.about__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.about__img {
  margin-left: 29px;
  width: 100%;
  max-width: 588px;
}

.about__decor {
  position: absolute;

  top: 115px;
  right: 515px;
  z-index: 1;
}

.about__tittle {
  margin-left: 96px;
  margin-bottom: 36px;
}

.global__decor__about {
  display: inline;

  font-family: "ProximaNova Bold";
  font-size: 170px;
  font-weight: bold;
  color: #d0d0d0;
  text-transform: uppercase;
  opacity: 0.2;
  letter-spacing: 10px;
  position: absolute;
  top: 94px;
  left: -414px;
  z-index: 1;
}

.global__decor__A {
  display: inline;
  margin: 0;
  padding-left: 15px;

  position: absolute;

  top: -296px;
  right: -59px;
  z-index: -1;

  font-family: "ProximaNova Bold";
  font-size: 396px;
  text-transform: uppercase;
  font-weight: bold;
  color: #bea67c;
  opacity: 0.07;
}


/*MEDIA*/

@media(max-width: 990px) {
  .about__inner {
    flex-wrap: wrap;
   justify-content: center;
  }

  .product__furniture__img.about__img {
    margin: 0;
  }

  .product__furniture__tittle.about__tittle {
    padding-top: 30px;
    margin-left: 0;
  }
}

@media(max-width: 770px) {

  .about {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 250px;
    padding-bottom: 20px;
  }

  .about__inner{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width: 575px) {
  .about{
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
