.footer {
  height: 69px;
  width: 100%;

  background: url(../img/footer/fon.png) center no-repeat;
}

.footer__inner {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "ProximaNova Regular";
  font-weight: bold;
  font-size: 15px;
  color: #313231;
}

.footer__time {
  padding-left: 15px;
}

.footer__logo {
  display: block;
  font-family: "ProximaNova Bold";
  font-weight: bold;
  font-size: 30px;
  color: white;
  letter-spacing: 9px;
  position: relative;

  margin-left: 121px;
}

.footer__logo__text::after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  position: absolute;
  bottom: 17px;
  left: 37px;
  z-index: 1;
  background-color: #bea67c;
}

.footer__author {
  text-transform: none;
}

.footer__author span,
.footer__time span {
  color: #7d7d7d;
}

/*MEDIA*/

@media (max-width: 770px) {
  .footer__author {
    margin-left:  40px;
  }
}

@media (max-width: 575px){
.footer__time,
.footer__author {
  display: none;
}

.footer__logo {
  margin: 0;
 
}

.footer__inner {
  justify-content: center;
}

  .footer__logo__text {
    font-size: 23px;
  }

  .footer__logo__text::after {
    
    width: 44px;
    height: 3px;
    
    bottom: 14px;
    left: 30px;
    
}