.header {
  width: 100%;
}

.heder__inner {
  padding: 30px 30px 0px;
  margin: 0 auto;
  width: 100%;
  /* max-width: 1865px; */

  position: absolute;
  z-index: 2;
}

.header__menu {
  display: block;
  align-items: center;
  cursor: pointer;
  height: 28px;
  padding-top: 11px;
}

.nav__link.menu {
  position: absolute;
  top: -6px;
  left: 48px;
  z-index: 3;
}

/*MENU BUTTON*/

.menu__btn {
  padding: 2px 0;

  width: 33px;

  position: relative;
  z-index: 50;

  cursor: pointer;
}

.menu__item::before,
.menu__item::after {
  content: " ";
  height: 1px;
  width: 100%;
  background: #bea67c;
  position: absolute;
  left: 0;
  z-index: 1;

  /* лучше не использовать all, safari скорей всего пошлет тебя нахер */
  transition: all 0.3s ease;
}

.menu__item span {
  display: block;
  /* повтор одних и тех же цветов, лучше вынести в переменную и использовать
  (тут css, так что через --textColor: red; color: var(--textColor)).
  В scss используется $, кароч посмотришь */
  background: #bea67c;
  height: 1px;
  transition: all 0.3s ease;
}

.menu__item::after {
  top: -8px;
}

.menu__item::before {
  bottom: -8px;
}

.menu__item.active::after {
  top: 80%;
  transform: rotate(-45deg);
}

.menu__item.active::before {
  bottom: -10%;
  transform: rotate(45deg);
}

/*menu BURGER*/

/* active и т.п. обычно ставят после блока, к которому относится */
.nav__link__burger.active {
  transform: translate(0px, 0px);
}

.nav__link__burger {
  /* переменные */
  color: #bea67c;

  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  list-style: none;

  position: absolute;
  top: 60px;
  left: -12px;
  /* z-index: 1 здесь вполне достаточно). Потом может возникнуть ситуация,
  что заебешься искать из-за чего не нажимается какой-то элемент */
  z-index: 50;

  /* не надо all, у тебя один translate */
  transition: all 0.3s ease 0s;
  transform: translate(-100%, 0px);
}

/* кажется оно должно быть не здесь */
.menu__item.active > span {
  transform: scale(0);
}

.nav__link__burger > li {
  cursor: pointer;
}

.nav__link__burger > li:hover {
  text-decoration: underline;
}

.header.active {
  background: #000;
  opacity: 0.9;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 5;
}

.basic.active {
  display: none;
}

.header__basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 195px; /* ПРОВЕРИТЬ НА АДАПТИВЕ */
}

.basic {
  margin-left: 100px;
  position: relative;
  z-index: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__lung {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* что-то лишнее */
.lang {
  color: #a9946e;
}

/* li - элемент списка, а здесь оно навешано на select */
.change__lung__li {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  border: 0;

  list-style: none;
  text-decoration: none;
  text-transform: uppercase;

  color: #868686;

  background: transparent;
  opacity: 0.9;
  padding: 4px;
  cursor: pointer;
}

.change__lung {
  display: flex;
  width: 52px;
  height: 27px;

  position: relative;
}

.change__lung__li > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav__link {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  color: #868686;

  transition: all 0.2s linear;
}

.nav__link:hover {
  color: white;
}

.hover2 {
  transition: all 0.2s linear;
}

.hover:hover ~ .hover2 {
  -webkit-filter: grayscale(100) brightness(200);
  filter: grayscale(100) brightness(200);
}

.nav__img__info:hover {
  -webkit-filter: sepia(1) hue-rotate(320deg) saturate(10);
  filter: sepia(1) hue-rotate(320deg) saturate(10);
}

.nav__img__lung {
  padding-bottom: 3px;
  padding-left: 5px;
}

.nav__img__info {
  padding-right: 52px;
  transition: all 0.2s linear;
}

.nav__tittle {
  font-family: "ProximaNova Bold";
  font-size: 36px;
  letter-spacing: 16px;
  color: white;
  font-weight: bold;
  position: relative;
}

.nav__tittle::after {
  content: "";
  height: 4px;
  display: block;
  width: 70px;
  background-color: #bea67c;
  margin-left: 35px;
  position: absolute;
  top: 19px;
  bottom: 0px;
  left: 14px;
  z-index: 1;
}

/*FIXED HEADER*/

.heder__inner.fixed {
  position: fixed;
  background: url(../img/fixFon_02.jpg) center no-repeat;

  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding: 30px 30px 0; */
}
.heder__inner.basic.active {
  background: #000;
  opacity: 0.9;
}

/*MEDIA*/

/* брейкпоинты точно нужно выносить в переменные */
@media (max-width: 1230px) {
  .basic {
    margin-left: 45px;
  }

  .header__basic {
    padding-left: 50px;
  }

  .nav__img__info {
    padding-right: 5px;
  }

  .nav__link.menu {
    padding-left: 5px;
  }
}

@media (max-width: 990px) {
  .basic {
    display: none;
  }

  .heder__inner {
    padding-top: 10px;
  }
}

@media (max-width: 770px) {
  .nav__tittle {
    font-size: 29px;
    letter-spacing: 14px;
  }

  .nav__link {
    font-size: 14px;
  }

  .nav__tittle::after {
    width: 57px;
    top: 15px;
    left: 6px;
  }
}

@media (max-width: 575px) {
  .header__basic {
    display: none;
  }

  .heder__inner {
    padding-top: 17px;
  }
}
